# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Docker
docker_data/

# IDE
.idea/